body {
    background-color: hsl(212, 45%, 89%);
}

.QR {
    width: 250px;
    box-shadow: 0 20px 20px 0 hsl(212, 45%, 89%), 0 30px 20px 0 hsl(220, 15%, 55%);
    display: block;
    background-color: hsl(0, 0%, 100%);
    border: 1px, solid;
    border-color: white;
    border-radius: 20px;
    text-align: center;
    width: 270px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}


    .QR img {
        border-radius: 15px;
        width: 250px;
        position: relative;
        margin: 10px 10px 5px 10px;
    }

.text {
    margin: 20px 30px 25px 30px;
    font-family: 'Outfit', sans-serif;
   
}
